{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <style>
        .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        #markdown_form_text {
            display: block;
            width: 100%;
            border: 1px solid #888;
            padding: 5px;
        }
        #markdown-preview {
            width: 100%;
            min-height: 50px;
            margin-top: 20px;
        }
    </style>
    <div class="wrapper">
        <h1>{{ title }}</h1>

        <div class="row">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        <div id="markdown-preview" style="display: none"></div>

    </div>

    <script>
        function handleChange(event) {
            const preview = document.getElementById("markdown-preview");
            const value = event.target.value;
            const data = "text=" + value;

            fetch('/markdown/api', {
                method: 'POST',
                body: data,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'Accept': '*/*',
                }
            }).then(function (response) {
                if (response.ok) {
                    return response.json();
                }
                return Promise.reject(response);
            }).then(function (data) {
                if(data.status === 'success') {
                    preview.innerHTML = data.result;
                } else {
                    preview.innerHTML = 'Error';
                }
            }).catch(function (error) {
                console.warn('Something went wrong.', error);
            });

            show(preview);
            if(!event.target.value) {
                hide(preview);
            }
        }

        const show = function (elem) {
            elem.style.display = 'block';
        };
        const hide = function (elem) {
            elem.style.display = 'none';
        };
    </script>
{% endblock %}
